{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.admin_panel'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.admin_panel'|trans }}</h1>

    <h2>{{ 'title.admin_account'|trans }}</h2>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>{{ 'label.email'|trans }}</th>
            <td>{{ app.user.email }}</td>
        </tr>
        <tr>
            <th>{{ 'label.roles'|trans }}</th>
            <td>{{ app.user.roles|join(', ') }}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <a href="{{ url('admin_change_email') }}" title="{{ 'action.change_email'|trans }}">
            {{ 'action.change_email'|trans }}
        </a>

        <a href="{{ url('admin_change_password') }}" title="{{ 'action.change_password'|trans }}">
            {{ 'action.change_password'|trans }}
        </a>
    </div>

    <hr>

    <h2>{{ 'title.admin_management'|trans }}</h2>

    <p>
        <a href="{{ url('admin_user_index') }}" title="{{ 'action.view_users'|trans }}">
            {{ 'action.view_users'|trans }}
        </a>
    </p>

{#    <p>#}
{#        <a href="{{ url('bug_index') }}" title="{{ 'action.view_bugs'|trans }}">#}
{#            {{ 'action.view_bugs'|trans }}#}
{#        </a>#}
{#    </p>#}

{#    <p>#}
{#        <a href="{{ url('category_index') }}" title="{{ 'action.view_categories'|trans }}">#}
{#            {{ 'action.view_categories'|trans }}#}
{#        </a>#}
{#    </p>#}

{% endblock %}
